.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: auto;
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-template-rows:60px 2fr;
    grid-column-gap: 10px;
    height: 100vh
}

.app-wrapper-content {
    padding-top: 15px;
    grid-area: content;
    margin-right: 10px;
}
